/*<!-- CSS file -->

<!-- text colorcode: #0A4C7E -->
<!-- background colorcode: #A4C5D8 --> */

body {
    background: #A4C5D8;
    color: #0A4C7E;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
}

h1 {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #A4C5D8;
    padding: 60px 0px;
}

#logo {
    float: inherit;
}